@page "/application/{Id:guid}"
@using MessageMocker.Data
@inject NavigationManager NavigationManager
@inject ApplicationService ApplicationService


<h3><span class="backButton" @onclick="Back">←</span> @Specification.Name</h3>



<div class="grid">
    <div class="grid_left">
        <table>
            <thead>
                <tr><td>Comandi</td></tr>
            </thead>
            <tbody>
                @foreach (var cmd in Specification.Commands)
                {
                    var sample = cmd.Sample;
                    <tr @onclick="@(e  => SetCurrentSample(sample))">@cmd.Name</tr>
                }
            </tbody>


        </table>
        <table>
            <thead>
                <tr><td>Eventi</td></tr>
            </thead>
            <tbody>
                @foreach (var evt in Specification.Events)

                {
                    var sample = evt.Sample;
                    <tr @onclick="@(e  => SetCurrentSample(sample))">@evt.Name</tr>
                }
            </tbody>
        </table>

    </div>
    <div></div>
    <div class="grid_right">
        <textarea class="editor">
            @Text
        </textarea>
    </div>
</div>




@code {
    [Parameter]
    public Guid Id { get; set; }

    private ApplicationSpecification Specification { get; set; }

    private string Text { get; set; }

    private void Back()
    {
        NavigationManager.NavigateTo("/");
    }

    protected override async Task OnInitializedAsync()
    {
        Specification = await ApplicationService.ApplicationSpecification(Id);
    }

    private void SetCurrentSample(string text)
    {
        Text = text;
    }
}

